<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Drive Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body class="bg-dark">
    <div class="container-md text-center text-white">
        <h1 class="h1">USE-SA Information</h1>
        <br>
        <br>
        <p><span style='font-size:20px;'>&#10060;</span> <b>USE-SA</b> means do not click on USE SA</p>
        <p><span style='font-size:20px;'>&#9989;</span> <b>USE-SA</b> means  click on USE SA</p>
        <br>
        <br>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Can Clone ?</th>
                    <th>Limit</th>
                    <th>Click on USE-SA ?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Public Url (<b>everyone has access</b>)</td>
                    <td>Public/Private folder (<b>you have uploading access</b> but S.A. do not)</td>
                    <td>yes</td>
                    <td>750GB</td>
                    <td><span style='font-size:20px;'>&#10060;</span> <b>USE-SA</b></td>
                </tr>
                <tr>
                    <td>Public Url (<b>everyone has access</b>)</td>
                    <td>Public/Private folder (<b>S.A. have uploading access</b>)</td>
                    <td>yes</td>
                    <td>750 x 100 = 75 TB/day</td>
                    <td><span style='font-size:20px;'>&#9989;</span> <b>USE-SA</b></td>
                </tr>
                <tr>
                    <td>Public Url (<b>everyone has access</b>)</td>
                    <td>Public/Private folder (neither have uploading access)</td>
                    <td>no</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><b>**</b>Private Url (<b>you have access</b>)</td>
                    <td>Public/Private folder (<b>you have uploading access</b> but S.A. do not)</td>
                    <td>yes</td>
                    <td>750GB</td>
                    <td><span style='font-size:20px;'>&#10060;</span> <b>USE-SA</b></td>
                </tr>
                <tr>
                    <td>Private Url (<b>S.A. have access</b>)</td>
                    <td>Public/Private folder (<b>S.A. have uploading access</b>)</td>
                    <td>yes</td>
                    <td>750 x 100 = 75 TB/day</td>
                    <td><span style='font-size:20px;'>&#9989;</span> <b>USE-SA</b></td>
                </tr>
                <tr>
                    <td>Private Url (you do not have access)</td>
                    <td>Public/Private folder</td>
                    <td>no</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>** For example you are a part of a teamdrive (but that teamdrive does not have your S.A.) and you need to clone a folder from it to your personal drive or teamdrive.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>





